body {
    background-color: rgb(34, 40, 49);
    margin: 0;
}


header {
    background-color: rgb(0, 173, 181);
    border: 2px solid rgb(0, 173, 181);
    border-radius: 5px;
}

#menu {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#menu a {
    text-decoration: none;
    padding: 20px;
    color: black;
}

#active {
    background-color: rgba(238, 238, 238, 0.5);
    border-radius: 5px;
}

.imgBar {
    margin: auto;
    width: 80%;
    margin-top: 20px;
    text-align: center;

}

.img-item {
    border: 2px;
    padding: 10px;
    border-radius: 20px;
}



.container {
    width: 85%;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(57, 62, 70);
    color: rgb(238, 238, 238);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    box-shadow: -3px -3px 4px 1px rgb(238, 238, 238, 0.5),3px 3px 4px 1px rgba(202, 193, 193, 0.5);
}

.content-box {
    width: 68%;
}

.Gimg-box {
    width: 28%;
}


.H {
    font-size: 25px;
}


P {
    font-size: 20PX;
    font-family: 'Times New Roman', Times, serif;
}

.Gimg-item {
    padding-top: 10px;
}

.cnt-box {
    max-width: 40%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    color: rgb(238, 238, 238);
    background-color: rgb(57, 62, 70, 0.5);
    padding: 40px;
    box-shadow: -5px -5px 5px 1px rgb(238, 238, 238, 0.5),5px 5px 5px 1px rgba(202, 193, 193, 0.5);
}

h2 {
    text-shadow: 2px 3px 3px;
}

.message {
    margin: auto;
    margin-top: 50px;
}

form {
    text-align: right;
}

input {
    border-radius: 5px;
    height: 30px;
}

input:last-of-type {
    width: 100px;
}

#description {
    height: 100px;
}

@media only screen and (max-width: 576px) {
    .imgBar {
        width: 100%;
    }

    .img-item {
        width: 90% !important;
    }

}

@media only screen and (min-width: 576px) {
    .img-item {
        width: 420px !important;
    }
}

@media only screen and (min-width: 768px) {
    .img-item {
        width: 500px !important;
    }
}

@media only screen and (min-width: 992px) {
    .img-item {
        width: 350px !important;
        height: 320px !important;
        opacity: 70%;
    }

    .img-item:hover {
        opacity: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .img-item {
        width: 450px !important;
        height: 320px !important;
    }
}

@media only screen and (min-width: 1400px) {
    .img-item {
        width: 530px !important;
        height: 320px !important;
    }
}